header {
  min-height: 100vh;
  background: url(../../assets/hero-image.jpg);
  background-size: cover;
  background-position: center;
}

header .wrapper {
  position: relative;
  height: 100vh;
}

header .cta {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 450px;
  border-radius: 20px 20px 0px 0px;
  border-top: 4px solid #FFF;
  border-right: 4px solid #FFF;
  border-left: 4px solid #FFF;
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(25px);
  padding: 50px 40px 60px;
}

header .cta .course-name {
  position: relative;
  color: #FFF;
  font-size: 16px;
  font-weight: 800;
}

header .cta .course-name::after {
  content: "";
  width: 60px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--red-color);
}

header .cta h1 {
  color: #FFF;
  font-family: Alegreya;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
}

header .cta .demo-btn {
  padding: 10px 32px;
  border-radius: 10px;
  font-weight: 800;
  color: #FFF;
  background-color: var(--red-color);
}