nav {
  position: fixed;
  top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  width: 1024px;
  height: 80px;
  border-radius: 0px 0px 10px 10px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  z-index: 100;
}

a.logo {
  color: #fff;
}

a.logo .red {
  color: var(--red-color);
}

nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  font-size: 16px;
  font-weight: 800;
}

nav ul a {
  color: #fff;
  font-size: 16px;
  font-weight: 800;
}

.menu-icon,
.mobile-menu-container {
  display: none;
}

/* Tablet Version */
@media (max-width: 1040px) {
  nav {
    width: 700px;
  }
}

/* Mobile Version */
@media (max-width: 720px) {
  nav {
    top: 16px;
    width: unset;
    left: 32px;
    right: 32px;
  }

  nav ul {
    display: none;
  }

  nav .menu-icon {
    display: block;
  }

  .mobile-menu-container {
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    padding: 60px 30px;
    background: var(--dark-color);
    z-index: 200;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  .menu-items li {
    list-style: none;
  }

  .menu-items li a {
    color: #fff;
    font-size: 16px;
    font-weight: 800;
  }

  .close-icon {
    position: fixed;
    top: 40px;
    right: 55px;
  }
}
