.blog .content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
}

.blog .post {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.4s ease;
}

.blog .post:hover {
  scale: 1.05;
}

.blog .tag {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0px 16px;
  border-radius: 10px;
  background: #fff;
  height: 18px;
  line-height: 18px;
  font-family: Alegreya;
  font-size: 13px;
  font-weight: 700;
  color: black;
}

.blog .post img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.blog .post .post-title {
  margin: 0;
  padding: 16px 24px;
  font-family: Alegreya;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.blog .btn-container {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}

.blog .btn-container .all-posts-btn {
  padding: 6px 32px;
  border-radius: 10px;
  background-color: #fff;
  font-family: Alegreya;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

/* Tablet Version */
@media (max-width: 1040px) {
  .blog .content-container {
    grid-template-columns: 1fr 1fr;
  }

  .blog .post:nth-child(3) {
    grid-column: 1 / span 2;
  }
}

/* Smartphone Version */
@media (max-width: 720px) {
  .blog .content-container {
    grid-template-columns: 1fr;
  }

  .blog .post:nth-child(3) {
    grid-column: 1 / 2;
  }
}
